#aprender{
    .box{
        padding: 4rem 2rem;
        border: 1px solid $azul;
        border-bottom: 0;
        background-image: url('../img/bg_aprender.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;

        &.active{
            display: block;
        }
        
        h2{
            text-align: center;
            font-size: 2.5rem;
            height: 3.5rem;
        }
        
        .lista{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
            margin-top: 5rem;
            padding: 0 100px;
            .item{
                label{
                    display: flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.216);
                    font-size: 1.3rem;
                    text-align: center;
                    height: 130px;
                    border-radius: 5px;
                    position: relative;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover{
                        border-bottom-color: $laranja;
                    }
                    &::after{
                        content: '';
                        width: 0%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: linear-gradient(90deg, rgba($azul-light,1) 35%, rgba($laranja,1) 100%);
                        position: absolute;
                        z-index: -1;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
                
                input{
                    position: absolute;
                    left: -5000px;

                    &:checked+label{ 
                        border: 0;
                        font-weight: bold;

                        &::after{
                            width: 100%;
                            opacity: 1;
                        }
                     } 
                }
            }
        }
    }
    .borda{
        width:100%;
        height:1rem;
        background: linear-gradient(90deg, rgba($azul-light,1) 35%, rgba($laranja,1) 100%);
        border: 0;
        position: relative;

        .load{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: #0c0e12;
            width: 100%;

        }
        @for $i from 1 through 100 {
            .load-#{$i}{
                width: 100% - $i;
                transition: all .2s;
            }
        }
    }
}




@media (max-width: 1024px){
    #aprender{
        .lista{
            grid-template-columns: 1fr 1fr !important;
        }
    }   
}

@media (max-width: 460px){
    #aprender{
        h2{
            font-size: 1.8rem !important;
        }
        .lista{
            grid-template-columns: 1fr !important;
        }
    }   
}

