#aprender{
    .box{
        
        border: 1px solid $azul;
        border-bottom: 0;
        background-image: url('../img/bg_aprender.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;

        .carousel-item{
            padding: 4rem 2rem;
        }
        
        &.active{
            display: block;
        }
        
        h2{
            text-align: center;
            font-size: 2.5rem;
            height: 3.5rem;
        }
        
        .lista{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
            margin-top: 5rem;
            padding: 0 100px;
            .item{
                label{
                    display: flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.216);
                    font-size: 1.3rem;
                    text-align: center;
                    height: 130px;
                    border-radius: 5px;
                    position: relative;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover{
                        border-bottom-color: $laranja;
                    }
                    &::after{
                        content: '';
                        width: 0%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: linear-gradient(90deg, rgba($azul-light,1) 35%, rgba($laranja,1) 100%);
                        position: absolute;
                        z-index: -1;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
                
                input{
                    position: absolute;
                    left: -5000px;
                    
                    &:checked+label{ 
                        border: 0;
                        font-weight: bold;
                        
                        &::after{
                            width: 100%;
                            opacity: 1;
                        }
                    } 
                }
            }
        }
    }
    .borda{
        width:100%;
        height:1rem;
        background: linear-gradient(90deg, rgba($azul-light,1) 35%, rgba($laranja,1) 100%);
        border: 0;
        position: relative;
        
        .load{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: #0c0e12;
            width: 100%;
            
        }
        @for $i from 1 through 100 {
            .load-#{$i}{
                width: 100% - $i;
                transition: all .4s;
            }
        }
    }

    .res{

        .loading{
            position: absolute;
            background: rgba($color: #fff, $alpha: .01);
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            transition: all .2s;
            background-image: url('../img/loading.gif');
            background-position: center;
            background-size: 100px;
            background-repeat: no-repeat;
            overflow: hidden;
            backdrop-filter: blur(10px);

            &.not-show{
                width: 0;
                height: 0;
            }
        }
    }
    
    .resultado{
        display: flex;
        gap: 50px;
        position: relative;

        
        
        
        .conteudo{
            text-align: center;
            flex: 1;
            
            img{
                margin-top: 25px;
            }
        }
        
        .promo{
            width: 35%;
            border-radius: 5px;
            background: linear-gradient(90deg, rgba($azul-light,1) 35%, rgba($laranja,1) 100%);
            position: relative;
            .promo-content{
                position: absolute;
                background-color: $bg;
                padding: 40px;
                height: calc(100% - 20px);
                width: calc(100% - 20px);
                top: 10px;
                left: 10px;
                border-radius: 5px;
                box-shadow: rgba(#000, .6) 0px 5px 15px;

                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 200px;
                }

                h3{
                    text-align: center;
                }
            }
        }
    }
}




@media (max-width: 1024px){
    #aprender{
        .lista{
            grid-template-columns: 1fr 1fr !important;
        }
        h2{
            height: auto !important;
        }
    }   
}

@media (max-width: 460px){
    #aprender{
        h2{
            font-size: 1.8rem !important;
        }

        .resultado{
            flex-direction: column;
            .promo{
                width: 100%;
                height: 600px;
            }
        }
        
        .borda{
            position: fixed;
            z-index: 9999999;
            bottom: 0;
            left: 0;
        }
        
        .box{
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 150%;
            
            
            .lista{
                padding: 0;
                gap: 1rem;
                .item{
                    label{
                        font-size: 1rem;
                    }
                }
            }
        }   
    }   
}

