#faq{
    margin-top: 4rem;
    .titulo{
        display: flex;
        align-items: center;
        width:auto;
        gap: 1.5rem;

        & > div{
            font-size: 6rem;
            font-weight: bold;
        }
    }
    .accordion-item{
        button{
            font-weight: bold;
            span{
                color: $azul;
                display: table;
                margin-right: 1.2rem;
            }
        }
    }
}